<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">


</head>

<section class="bg-white dark:bg-gray-900" style="font-family: Lato;">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="https://images.unsplash.com/photo-1587573088697-b4fa10460683?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2706&q=80" alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://images.unsplash.com/photo-1554672408-730436b60dde?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2826&q=80" alt="office content 2">
        </div>

        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Revolutionize Your Reservation Management</h2>
            <p class="mb-4">With ReservEase, you can transform the way your business manages reservations and provide clients with a seamless, hassle-free booking experience. Whether you're a spa, restaurant, auto shop, or any local business, our platform is designed to elevate your operations and customer satisfaction. add a heading for this </p>
        </div>
        
    </div>
</section>